<h1>Edit course {{course.title}}</h1>

<form action="/courses/edit" method="POST">
	<div class="input-field">
		<input name="title" value="{{course.title}}" type="text" id="title" minlength="5" type="text" class="validate">
		<label for="title">Name this course</label>
		<span class="helper-text" data-error="Add name"></span>
	</div>

	<div class="input-field">
		<input name="price" value="{{course.price}}" id="price" type="number" class="validate" min="1">
		<label for="price">Price of this course</label>
		<span class="helper-text" data-error="Add price"></span>
	</div>

	<div class="input-field">
		<input name="img" value="{{course.img}}" id="img" minlength="5" type="text" class="validate">
		<label for="img">Img URL for course</label>
		<span class="helper-text" data-error="Add image"></span>
	</div>

	<input type="hidden" name="id" value="{{course.id}}">

	<button class='btn btn-primary'>Send</button>
</form>